{% extends 'base.html' %} {% block content %}

<!-- Begin section nominate -->
<div class="container">
  <div class="text-center">
    <h4>Board Game Allocator</h4>
  </div>
  <div class="row justify-content-center">
    <form method="post" class="form-signin" autocomplete="off" onsubmit="return nominateGame(event)">
      <label for="nominee">Nominate new game:</label>
    <br />
      <input
        id="nominee"
        type="text"
        autocapitalize="none"
        autocorrect="off"
        autocomplete="off"
        placeholder="Game name"
        required=""
        name="name"
        maxlength="20"
        size="20"
      />
    <br />
      <label for="gamemin">Min:</label>
      <input
        id="gamemin"
        type="number"
        autocorrect="off"
        autocomplete="off"
        placeholder="min"
        required=""
        name="min"
        size="4"
        min="2"
        max="9"
      />
      <label for="gamemax">Max:</label>
      <input
        id="gamemax"
        type="number"
        autocorrect="off"
        autocomplete="off"
        placeholder="max"
        required=""
        name="name"
        size="4"
        min="2"
        max="9"
      />
      <br />
      <button
        class="btn btn-primary"
        name="nominate"
      >
        Nominate game
      </button>

    </form>
  </div>
</div>
<script type="text/javascript">
  function nominateGame(e) {
    e.preventDefault();
    console.log("Nominating")
    var socketio = io();
    socketio.emit("nominate", {
      name: $("#nominee").val(),
      mini: $("#gamemin").val(),
      maxi: $("#gamemax").val()
    });
    $("#nominee").val("");
    $("#gamemin").val("");
    $("#gamemax").val("");
  };
</script>

<!-- End section nominate, begin section voting -->
<hr />

<div class="mx-0 mx-sm-auto">
  <div class="container">
    <p class="text-muted" align="center">
      Rate games, giving 4 to the game(s) you most want to play
      and 1 to the game(s) you least want to play.
    </p>
  </div>

  <form method="post" onsubmit="return vote(event)">

    <div class="text-center mb-3">
    <label for="username">Name:</label>
      <input
        id="username"
        type="text"
        autocapitalize="none"
        autocorrect="off"
        autocomplete="off"
        placeholder="Enter Name"
        required=""
        name="name"
        maxlength="20"
      />
    </div>

    <div id="votingBlock">
    </div>

    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary">Vote</button>
    </div>
  </form>
</div>

<script id="voteScript" type="text/javascript">
  function vote(e) {
    e.preventDefault();
    console.log("Voting");

    // Get votes by game name
    var votes = {};
    $("[id=inlineRadio1").each(function(i, obj) {
      var nameFull = obj.name;
      var nameOnly = obj.name.split('-')[0];
      votes[nameOnly] = $('input[name="' + nameFull + '"]:checked').val();
    });
    // Send votes
    var socketio = io();
    socketio.emit("vote", {
      name: $('#username').val(),
      votes: votes
    });

    // And don't be changing your name now
    $("#username").prop("readonly", true);
  };
</script>

<!-- End section voting, begin section results -->
<br />

<div class="container-fluid">
  <table class="table" id="preferenceTable">
    <thead>
      <tr id="tableHead">
        <th scope="col">Votes:</th>
      </tr>
    </thead>
    <tbody class="table" id="tableBody">
    </tbody>
  </table>
  <hr />
  <div id="results">
    <div class="text" id="solution"></div>
  </div>
</div>

<script type="text/javascript">

  // Nice-to-have changes:
  // 1. When loading a new page, load results as well as voting table
  // 2. Be able to delete game/player/all without rebooting server

  var socketio = io();
  socketio.on("refreshVoteOptions", (games) => {refreshVoting(games)});

  $(document).ready( function() { refreshVoting({{games|tojson}}) } );

  function refreshVoting(games) {
    console.log("refreshVoteOptions");
    console.log(games);
    $.each(games, function(gameName, range) {
      // don't recreate lines that already exist
      var gameNameSelector = "[name='" + gameName + "-inlineRadioOptions']";
      //console.log(gameNameSelector);
      if ($(gameNameSelector).length > 0) return;

      $('#votingBlock').append(`
        <div class="text-center mb-3">
          <div class="form-group text-center mb-3">
            <strong style="padding-right:10px;">${gameName} (${range["min"]}-${range["max"]}):</strong>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="${gameName}-inlineRadioOptions"
                id="inlineRadio1"
                value="1"
                required=""
              />
              <label class="form-check-label" for="inlineRadio1">1</label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="${gameName}-inlineRadioOptions"
                id="inlineRadio2"
                value="2"
              />
              <label class="form-check-label" for="inlineRadio2">2</label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="${gameName}-inlineRadioOptions"
                id="inlineRadio3"
                value="3"
              />
              <label class="form-check-label" for="inlineRadio3">3</label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="${gameName}-inlineRadioOptions"
                id="inlineRadio4"
                value="4"
              />
              <label class="form-check-label" for="inlineRadio4">4</label>
            </div>

          </div>
        </div>
      `);
    });
  };

  const tableRef = document.getElementById("preferenceTable").getElementsByTagName('tbody')[0];

  // Given a room's preference data, update the table with the latest scores
  //  -> {player:{g1:s1, g2:s2}}
  socketio.on("updateRoom", (all_data) => {
    console.log(all_data);
    preferences = all_data["preferences"];
    games = all_data["games"];
    //console.log(preferences);
    //console.log(games);
    $("#tableHead").empty();
    $("#tableHead").append($('<th />', {text: "Votes:"}));
    $.each(games, function(index, game) {
      $("#tableHead").append($('<th />', {text: game}));
    });

    $("#tableBody").empty()
    headers = document.getElementsByTagName("th");
    $.each(preferences, function(name, scores) {
      // Insert a row at the end of the table
      let newRow = tableRef.insertRow(-1);
      let newCell = newRow.insertCell(0);
      let newText = document.createTextNode(name);
      newCell.appendChild(newText);

      // Insert a cell in the row at index 0
      for (var i = 1; i < headers.length; i++) {
        let columnName = headers[i].innerHTML;
        newCell = newRow.insertCell(i);
        newText = document.createTextNode(scores[columnName]);
        newCell.appendChild(newText);
      }
    });
  });

  // Receiver the player to game assignments from the server and output the results.
  socketio.on("solution", (solution) => {
    console.log("Solution")
    $("#solution").empty()
    $('#solution').append(`
      Solution:
      <span>
        <strong>${solution.toString()}</strong>
      </span>
      <br />
    `)
  });

</script>

{% endblock %}
